
img {
    width: 70%;
}

body {
    text-align: center;
    background: #323232;
}

h1 {
    color: #cfff00;
    font-size: 50px;
}

input {
    height: 30px;
    width: 140px;
}

#real {
    border: 3px solid #cfff00;
}

#dollar {
    border: 3px solid red;
}

p {
    font-weight: bold;
    font-size: 25px;
}

button {
    height: 40px;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid #cfff00;
    border-radius: 10px;
    background-color: ;: #323232;
    color:white;
}

button:hover{
    color: #323232;
    background-color:#cfff00 ;
}